.env
*.zip
._*
/vendor
/node_modules
/public/themes
/packages
Homestead.json
Homestead.yaml
composer.lock
package-lock.json

# VScode
~/
 
# PhpStorm 
.idea/
*.iml
# File-based project format:
*.iws 
/.phpstorm.meta.php
/_ide_helper.php
/_ide_helper_models.php
/public/css/app.css
/public/js/app.js
/public/js/cropper.js
